@import 'tailwindcss';

/* gradient bg white mode */
body {
  background-color: #ffffff;
  background-image:
    radial-gradient(at 20% 20%, rgba(245, 158, 11, 0.15) 0px, transparent 50%),
    radial-gradient(at 80% 80%, rgba(245, 158, 11, 0.1) 0px, transparent 50%),
    radial-gradient(at 50% 50%, rgba(245, 158, 11, 0.05) 0px, transparent 60%);
  min-height: 100vh;
}

/* gradient bg dark mode */
.dark body {
  background-color: #0a0a0a;
  background-image:
    radial-gradient(at 20% 20%, rgba(245, 158, 11, 0.2) 0px, transparent 50%),
    radial-gradient(at 80% 80%, rgba(245, 158, 11, 0.15) 0px, transparent 50%),
    radial-gradient(at 50% 50%, rgba(245, 158, 11, 0.08) 0px, transparent 60%);
}

@theme {
  --color-background: #ffffff;
  --color-surface: #f9f9f9;
  --color-surface-hover: #f4f4f4;
  --color-border: #e5e5e5;
  --color-text-primary: #171717;
  --color-text-secondary: #737373;
  --color-accent: #171717;
  --color-error: #ef4444;
  --color-error-light: #fecaca;
  --color-error-bg: #fef2f2;
  --color-favorite: #c44d00;

  --font-family-sans: 'Plus Jakarta Sans', sans-serif;
}

.dark {
  --color-background: #0a0a0a;
  --color-surface: #141414;
  --color-surface-hover: #101010;
  --color-border: #262626;
  --color-text-primary: #fafafa;
  --color-text-secondary: #a3a3a3;
  --color-accent: #fafafa;
  --color-error: #f87171;
  --color-error-light: #450a0a;
  --color-error-bg: #1c0a0a;
  --color-favorite: #ffb74d;
}

@utility max-w-content {
  max-width: 1140px;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-background);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
